@mixin animation($props) {
  -webkit-animation: $props;
  -moz-animation: $props;
  -ms-animation: $props;
  -o-animation: $props;
  animation: $props;
}

@mixin animation-delay($props) {
  -webkit-animation-delay: $props;
  -moz-animation-delay: $props;
  -ms-animation-delay: $props;
  -o-animation-delay: $props;
  animation-delay: $props;
}
