// Components.
// # Buttons Grid.
$button-grid-bg: #CCC;

$grey-light: #cad4d8;
$grey-lighter: #e5eaec;
$standard-gray: #7b929e;
$brand-color: #2c3e50;

$error-color: #f44336;

$loading-view-color: rgba(255, 255, 255, 0.9);
