{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "webpackIsomorphicTools": true,
    "_CLIENT_": true,
    "encodeUriComponent": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "class-property"
  ],
  "rules": {
    "indent": ["error", 2],
    "no-debugger": "warn",
    "comma-dangle": ["error", "never"],
    "linebreak-style": "off",
    "no-underscore-dangle": ["error", { "allow": ["__PRELOADED_STATE__", "_CLIENT_"] }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": "off",
    "jsx-a11y/href-no-hash": "off",
    "arrow-body-style":"off",
    "import/prefer-default-export": "off",
    "consistent-return": "off"
  }
}
