
version: '2'

services:
  logistic-system-dolce:
    image: logistic-system-dolce:latest
    build:
      context: .
      dockerfile: Dockerfile
    links: 
      - db
    volumes:
      - .:/usr/src/app/
      - /usr/src/app/node_modules
    environment:
      PORT: 3001
      NODE_ENV: production
      MONGO_URL: mongodb://db:27017/logistic-system-dolce
    ports:
      - 3001:3001
      - 3002:3002
  db:
    image: mongo:latest
    ports:
      - "27017:27017"