@import "../utils/_colors.scss";

.cp-list {
  margin: 0;
  padding-left: 0;

  &__item {
    transition: background-color 0.2s;

    &:hover {
      background-color: $grey-lighter;
    }

    &--header {
      font-weight: 600;
      text-align: center;
      background-color: $grey-light;

      &:hover {
        background-color: $grey-light;
      }
    }
  }

  &__section {
    padding: 0.5em;

    &--center {
      text-align: center;
    }
  }
}
