@import "../animations/_bounce.scss";
@import "../utils/_colors.scss";
@import "../utils/_variables.scss";

.loading-view {
  top: 0;
  left: 0;
  z-index: 1;
  width: $loading-view-width;
  height: $loading-view-height;
  position: absolute !important;
  background: $loading-view-color;
}

.loading-animation {
  width: $animation-size;
  text-align: center;

  &__item {
    width: $animation-size / 3;
    height: $animation-size / 3;
    border-radius: 100%;
    display: inline-block;
    background-color: $brand-color;
    animation: bounce $animation-duration ease-in-out 0s infinite both;

    &[data-pos="1"] {
      animation-delay: -$delay-range;
    }

    &[data-pos="2"] {
      animation-delay: -$delay-range / 2;
    }
  }
}
