@import "../../../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

@import "../utils/_colors.scss";
@import "../animations/_bounce.scss";

$loading-view-width: 100vw;
$loading-view-height: 100vh;
$animation-size: 100px;
$animation-duration: 1.4s;
$delay-range: 0.32s;

.loading-view {
  top: 0;
  left: 0;
  z-index: 1;
  width: $loading-view-width;
  height: $loading-view-height;
  position: absolute !important;
  background: $loading-view-color;
}

.loading-animation {
  width: $animation-size;
  text-align: center;

  &__item {
    width: $animation-size / 3;
    height: $animation-size / 3;
    border-radius: 100%;
    display: inline-block;
    background-color: $brand-color;

    @include animation(bounce $animation-duration ease-in-out 0s infinite both);

    &[data-pos="1"] {
      @include animation-delay(-$delay-range);
    }

    &[data-pos="2"] {
      @include animation-delay(-$delay-range / 2);
    }
  }
}
