@import "~blaze/scss/blaze.scss";
@import "~mdi/scss/materialdesignicons.scss";
@import "utils/variables";

body {
  background: #fff;
}

a,
button {
  &:focus {
    outline: none !important;
  }
}

.app-content {
  height: $app-content-height;

  &__main-column {
    position: relative;
  }
}
